<h1>Users</h1>

<% @users.each do |user| %>

Name: <%= user.name %> <%= gravatar_for user %> <br>
Email: <%= user.email %> <br>
Admin: <%= user.admin? %> <br>

<hr>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "Show", user, :class => "btn btn-default" %>
  <%= link_to "Edit", edit_user_path(user), :class => "btn btn-default"  %>
  <%= link_to "Remove", user, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-default"  %>
</div>
<hr>
<% end %>
