<% content_for :header do %>
<h1>
  <%= @user.name %>
</h1>
<% end %>

<%= render partial: 'shared/breadcrumb', locals: { name: 'Users', link: users_path, collection: @user } %>

<div class="row">
  <div class="col-md-12">
    <div class="profile">
      Name: <%= @user.name %> <%= gravatar_for @user %> <br>
      Email: <%= @user.email %> <br>
      Admin: <%= @user.admin? %> <br>
    </div>
  </div>
</div>

<%= render 'actions', :user => @user %>
