<% content_for :header do %>
<h1>
  <%= @user.name %>
</h1>
<% end %>


<div class="row">
  <div class="col-md-12">
    <div class="profile">
      Name: <%= @user.name %> <%= gravatar_for @user %> <br>
      Email: <%= @user.email %> <br>
      Admin: <%= @user.admin? %> <br>
    </div>
  </div>
</div>

<%= render partial: 'shared/actions', locals: { collection: @user, name: 'User', path: edit_user_path(@user) } %>
