<% content_for :header do %>
<h1><%= @user.name %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="profile">
      <%=t :name %> : <%= @user.name %> <%= gravatar_for @user %> <br>
      <%=t :email %> : <%= @user.email %> <br>
      <%=t :admin %> : <%= @user.admin? %> <br>
    </div>
  </div>
</div>

<%= render partial: 'shared/actions', locals: { collection: @user, name: 'User', path: edit_user_path(@user) } %>
