<% content_for :header do %>
<h1>Brands</h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h2>Landmark group
      <small><%= link_to 'Create new?',  new_brand_path, :class => 'btn' %></small>
    </h2>
  </div>


  <% @brands.each do |brand| %>
  <div class="col-md-3">
    <div class="well <%= brand_class %>">

      <div class="brand-logo">
        <img src="<%= brand.logo %>">
      </div>

      <div class="brand-details">
        <h4>Brand: <%= brand.title %></h4>
        <p>Description: <%= brand.description %></p>
        <p>Online: <%= brand.published? %></p>
      </div>

      <div class="btn-group" role="group" aria-label="Edit Brands">
        <div class="btn-group">
          <%= link_to brand, :class => "btn btn-primary btn-sm" do %>
          <i class="material-icons">&#xE8F4;</i>
          <% end %>

          <%= link_to edit_brand_path(brand), :class => "btn btn-success btn-sm" do %>
          <i class="material-icons">&#xE8B8;</i>
          <% end %>

          <%= link_to brand, method: :delete, data: { confirm: "Are you sure you wish to delete?" }, :class => "btn btn-danger btn-sm" do %>
          <i class="material-icons">&#xE92B;</i>
          <% end %>

          <%= link_to brand, data: { confirm: "Are you sure you wish to toggle?" }, :class => "btn btn-default btn-sm" do %>
          <i class="material-icons">&#xE8C6;</i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
