<%= render partial: 'brands/brand_logo' %>
<div class="row">

  <div class="col-md-3">
    <div class="map-filters">
      <%= render partial: 'map_filters' %>
    </div>

    <div class="map-locations">
      <%= render partial: @brand.locations, collection: @brand.locations %>
    </div>

    <div class="map-locations-form">
      <%= render partial: 'locations/form' %>
    </div>
  </div>

  <div class="col-md-9">
    <%= render partial: 'brands/google_map' %>
  </div>
</div>

<% content_for :footer do %>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDkiHUkl-Syk3ZkNZYQcmLQZW3mNQZYj-Y&region=AR&v=3.23&callback=initMap' %>
<% end %>
