<%= render partial: 'brands/brand_logo' %>
<div class="row">

  <div class="col-md-3 map-results hidden">
    <div class="map-filters">
      <input id="searchTextField" type="text" class="form-control" placeholder="<%=t :search %>">
    </div>

    <div class="map-filters">
      <%= render partial: 'map_filters' %>
    </div>

    <div class="map-locations">
      <%= render partial: @brand.locations, collection: @brand.locations %>
    </div>

    <% if is_admin? %>
      <%= link_to new_brand_location_path(@brand), class: 'btn btn-dark' do %>
        <%=t :create_new %> <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-9">
    <%= render partial: 'brands/google_map' %>
  </div>
</div>

<% content_for :footer do %>
<%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDkiHUkl-Syk3ZkNZYQcmLQZW3mNQZYj-Y&libraries=places&callback=initMap' %>
<% end %>
