<div class="location-info-box" data-region="<%= location.region %>">
  <ul class="list-unstyled">
    <li>
      <h4><%= location.name %></h4>
    </li>
    <li>
      <p>
        <%= location.content %>
      </p>
    </li>
    <li>
      <%=t :region %> : <%= location.region %>
    </li>
    <li>
      <%= location.lat %>
    </li>
    <li>
      <%= location.lng %>
    </li>
    <li>
      <strong>Locale:</strong>
      <%= location.locale['en'] %>
      <%= location.locale['ar'] %>
    </li>
  </ul>

  <%= render partial: 'locations/actions', locals: { location: location, counter: location_counter } %>
</div>
