<div class="location-info-box" data-region="<%= location.region %>">
  <ul class="list-unstyled">
    <li>
      <h4><%= location.name %></h4>
    </li>
    <li>
      <p>
        <%= location.content %>
      </p>
    </li>
    <li>
      Region: <%= location.region %>
    </li>
    <li>
      Lat - <%= location.lat %>
    </li>
    <li>
      Lng - <%= location.lng %>
    </li>
  </ul>

  <%= render partial: 'locations/actions', locals: { location: location, counter: location_counter } %>
</div>
