<div class="location-info-box clearfix locale-en" data-region="<%= location.region_en %>">
  <h4><%= location.name_en %></h4>
  <p><%= location.content_en %></p>

  <div class="btn data-show" data-show=".opening-hours" data-icon-show="fa-sort-asc" data-icon-hide="fa-sort-desc">
    <i class="fa fa-sort-desc" aria-hidden="true"></i>
  </div>

  <%= render partial: 'locations/opening_hours', locals: { location: location } %>
  <%= render partial: 'locations/actions', locals: { location: location, counter: location_counter } %>
</div>

<div class="location-info-box clearfix locale-ar" data-region="<%= location.region_ar %>">
  <h4><%= location.name_ar %></h4>
  <p><%= location.content_ar %></p>

  <div class="btn data-show" data-show=".opening-hours" data-icon-show="fa-sort-asc" data-icon-hide="fa-sort-desc">
    <i class="fa fa-sort-desc" aria-hidden="true"></i>
  </div>

  <%= render partial: 'locations/opening_hours', locals: { location: location } %>
  <%= render partial: 'locations/actions', locals: { location: location, counter: location_counter } %>
</div>
