<div class="opening-hours hidden">
  <strong>Opening Hours</strong>
  <ul class="list-unstyled">
    <li><span><%=t 'monday' %></span> <%= location.mon %></li>
    <li><span><%=t 'tuesday' %></span> <%= location.tue %></li>
    <li><span><%=t 'wednesday' %></span> <%= location.wed %></li>
    <li><span><%=t 'thursday' %></span> <%= location.thu %></li>
    <li><span><%=t 'friday' %></span> <%= location.fri %></li>
    <li><span><%=t 'saturday' %></span> <%= location.sat %></li>
    <li><span><%=t 'sunday' %></span> <%= location.sun %></li>
  </ul>
</div>
