<% content_for :brand_logo do %>
<div class="navbar-header">
  <a class="navbar-brand" href="#">
    <img alt="Brand" src='<%= @brand.logo %>' style="width: 120px;">
  </a>
</div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h2><%=t :new %> <%=t :location%></h2>
    <%= render 'form' %>
  </div>
  <div class="col-md-8">
    <%= render partial: 'google_map_geocode' %>
  </div>
</div>
