<!DOCTYPE html>
<html>
<head>
  <title><%=t :store_locator %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <script src="//use.fontawesome.com/15a2450840.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= brand_class %>">
  <%= render partial: 'shared/primary_navigation' %>
  <%= render partial: 'shared/header' %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%- unless flash.empty? -%>
            <script type="text/javascript">
              <% flash.each do |f| %>
                <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
                toastr['<%= type %>']('<%= f[1] %>');
              <% end %>
            </script>
          <%- end -%>

          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
  </main>
  <%= render partial: 'shared/footer' %>
</body>
</html>
